<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <title>Everest Signs - Soluções em Comunicação</title>
    <meta NAME="Author" CONTENT="Everest Signs - Soluções em Comunicação">
    <meta NAME="Description"
          CONTENT="Temas ligados a comunicação visual, confecção de placas, adesivos de vinil, lonas impressas em tinta a base de solvente, tinta automotiva para letras em alumínio e aço, revitalização de fachadas com alumínio composto ACM, envelopamento de veículos, impressão em grandes formatos">
    <meta NAME="KeyWords"
          CONTENT="brasil, minas gerais, belo horizonte, bairro serrano, lona, vinil, tinta, solvente, envelopamento, veículos, frota, adesivo, placas, comunicação visual, vinil de recorte, faca, ploter, criação de identidade visual, impressão em grandes formatos, scitex, roland, compact, recort">
    <link href="http://www.everestsigns.com.br/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta NAME="Generator" CONTENT="Microsoft Front Page">
    <meta http-equiv="content-language" content="pt-br"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta name="rating" content="general"/>
    <meta name="robots" content="index,follow"/>
    <meta name="url" content="http://www.everestsigns.com.br"/>
    <meta name="domain" content="http://www.everestsigns.com.br"/>
    <meta name="title" content="Everest Signs - Soluções em Comunicação Visual - Gráfica e Serralheria"/>
    <meta name="copyright" content="Everest Signs - Soluções em Comunicação"/>
    <meta name="abstract"
          content="brasil, minas gerais, belo horizonte, bairro serrano, Temas ligados a comunicação visual, confecção de placas, adesivos de vinil, lonas impressas em tinta a base de solvente, tinta automotiva para letras em alumínio e aço, revitalização de fachadas com alumínio composto ACM, envelopamento de veículos, impressão em grandes formatos,lona, vinil, tinta, solvente, envelopamento, veículos, frota, adesivo, placas, comunicação visual, vinil de recorte, faca, ploter, criação de identidade visual, impressão em grandes formatos, scitex, roland, compact, recort"/>

    <!-- CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
<a class="btn-floating btn-large waves-effect waves-light head topo scroll" href="#home"><i class="material-icons">keyboard_arrow_up</i></a>

<nav class="head" id="home" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
            <img src="images/logo.gif" alt="Logo">
        </a>

        <ul class="right hide-on-med-and-down">
            <li><a class="white-text scroll" href="#">Home</a></li>
            <li><a class="white-text scroll" href="#empresa">A Empresa</a></li>
            <li><a class="white-text scroll" href="#diretrizes">Nossas Diretrizes</a></li>
            <li><a class="white-text scroll" href="#">Portfolio</a></li>
            <li><a class="white-text scroll" href="http://www.kombo.com.br/curriculo/?cid=MjY4MC0w">Trabalhe Conosco</a>
            </li>
            <li><a class="white-text scroll" href="#contato">Fale Conosco</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">

            <nav class="head" role="navigation">
                <span class="blueE-text" style="font-size:20px; margin-left: 10px;">MENU</span>
            </nav>
            <li><a class="scroll" href="#">Home</a></li>
            <li><a class="scroll" href="#empresa">A Empresa</a></li>
            <li><a class="scroll" href="#diretrizes">Nossas Diretrizes</a></li>
            <li><a class="scroll" href="#">Portfolio</a></li>
            <li><a class="scroll" href="http://www.kombo.com.br/curriculo/?cid=MjY4MC0w">Trabalhe Conosco</a></li>
            <li><a class="scroll" href="#contato">Fale Conosco</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light shadow">A qualidade do nosso produto proporciona a imagem que sua
                    empresa almeja.</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/background/Home/background1.jpg" alt="MRV"></div>
</div>

<div class="container" id="empresa">
    <div class="section">
        <div class="row">
            <div class="col s12 m7 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>A Empresa</h4>
                <p class="left-align light">Criada em 2003 direcionada para o dinâmico mercado de comunicação visual, a
                    Everest Soluções em Comunicação, é uma empresa pautada na renovação. Com foco na qualidade dos seus
                    produtos, tem se destacado pelo dinamismo e excelência nos prazos de entrega. A Everest tem em sua
                    estrutura, a experiência de profissionais qualificados e faz uso de tecnologia de ponta, estando
                    sempre apta a atender seus clientes de maneira diferenciada, criando soluções sob medida.</p>
            </div>

            <div class="col s12 m5 center">
                <div id="carouselSmall1" style="height: 200px; width: 330px; top: 70px"
                     class="carousel slide hide-on-small-and-down"
                     data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carouselSmall1" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselSmall1" data-slide-to="1"></li>
                        <li data-target="#carouselSmall1" data-slide-to="2"></li>
                        <li data-target="#carouselSmall1" data-slide-to="3"></li>
                        <li data-target="#carouselSmall1" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="../public/images/Empresa/acabamento.jpg" alt="...">
                        </div>

                        <div class="item">
                            <img src="images/Empresa/impressao.jpg" alt="...">
                        </div>

                        <div class="item">
                            <img src="images/Empresa/pintura.jpg" alt="...">
                        </div>

                        <div class="item">
                            <img src="images/Empresa/sorveteria.jpg" alt="...">
                        </div>

                        <div class="item">
                            <img src="images/Empresa/serralheria.jpg" alt="...">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carouselSmall1" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carouselSmall1" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div id="carouselSmall" style="height: 200px" class="carousel slide hide-on-med-and-up show-on-small"
                     data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carouselSmall" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselSmall" data-slide-to="1"></li>
                        <li data-target="#carouselSmall" data-slide-to="2"></li>
                        <li data-target="#carouselSmall" data-slide-to="3"></li>
                        <li data-target="#carouselSmall" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="images/Empresa/acabamento.jpg" alt="...">
                        </div>

                        <div class="item">
                            <img src="images/Empresa/impressao.jpg" alt="...">
                        </div>

                        <div class="item">
                            <img src="images/Empresa/pintura.jpg" alt="...">
                        </div>

                        <div class="item">
                            <img src="images/Empresa/sorveteria.jpg" alt="...">
                        </div>

                        <div class="item">
                            <img src="images/Empresa/serralheria.jpg" alt="...">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carouselSmall" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carouselSmall" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light shadow">Fachada em alumínio composto. Inovação, design e
                    sofisticação.</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/background/Home/background2.jpg" alt="Moveis Sao Geraldo">
    </div>
</div>

<div class="container" id="diretrizes">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Nossas Diretrizes</h4>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Nossa Missão</h5>

                        <p class="light">Fornecer produtos e serviços de alto padrão de qualidade. Atuando com
                            flexibilidade e velocidade de resposta, para maximizar a satisfação do cliente.
                            Criar projetos e soluções que atendam da melhor forma às necessidades e expectativas do
                            mesmo.
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Nossa Visão</h5>

                        <p class="light">Sermos os provedores das melhores soluções em comunicação visual, com
                            competência e excelência de produtos e serviços. Ser guiada por padrões éticos, e
                            respeitando ao meio ambiente, trabalhando de maneira sustentável.
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Nossos Valores</h5>

                        <p class="light">Ética, inovação, qualidade e integridade.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light shadow">Destaque-se dos demais</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/background/Home/background3.jpg" alt="Letra Caixa Odontologia">
    </div>
</div>

<footer class="page-footer blueE" id="contato">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">Nosso Endereço</h5>
                <p class="grey-text text-lighten-4">
                    Rua São Bernardo, 100 - Serrano | <br> Belo Horizonte | MG | <br> CEP: 30881-4 </p>
            </div>
            <div class="col l5 s12">
                <h5 class="white-text">Como Chegar</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3751.802591203745!2d-44.01394468551712!3d-19.890555986625852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa696ada17339bd%3A0xf2e82c62ee00a0e8!2sEverest+Signs+Solu%C3%A7%C3%B5es+em+Comunica%C3%A7%C3%A3o+Visual!5e0!3m2!1spt-BR!2sbr!4v1477955702713"
                        width="280" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Contatos</h5>
                <ul>
                    <li>
                        <strong class="white-text">DIREÇÃO - Junior</strong>
                        <a href="mailto:junior@everestsigns.com.br" class="white-text">junior@everestsigns.com.br</a>
                    </li>
                    <br>
                    <li>
                        <strong class="white-text">FINANCEIRO - Jane</strong><br>
                        <a href="mailto:financeiro@everestsigns.com.br" class="white-text">financeiro@everestsigns.com.br</a>
                    </li>
                    <br>
                    <li>
                        <strong class="white-text">COMPRAS</strong><br>
                        <a href="mailto:compras@everestsigns.com.br" class="white-text">compras@everestsigns.com.br</a>
                    </li>
                    <br>
                    <li>
                        <strong class="white-text">VENDAS - Dennis</strong>
                        <a href="mailto:vendas@everestsigns.com.br" class="white-text">vendas@everestsigns.com.br</a>
                    </li>
                    <br>
                    <li>
                        <strong style="font-size:18px;" class="white-text">Tel: 3465-2800</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="#">Nosso Nome</a>
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>
    var $doc = $('html, body');
    $('.scroll').click(function () {
        $doc.animate({
            scrollTop: $($.attr(this, 'href')).offset().top
        }, 500);
        return false;
    });
</script>
</body>
</html>