<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <title>Everest Signs - Soluções em Comunicação</title>
    <meta NAME="Author" CONTENT="Everest Signs - Soluções em Comunicação">
    <meta NAME="Description"
          CONTENT="Temas ligados a comunicação visual, confecção de placas, adesivos de vinil, lonas impressas em tinta a base de solvente, tinta automotiva para letras em alumínio e aço, revitalização de fachadas com alumínio composto ACM, envelopamento de veículos, impressão em grandes formatos">
    <meta NAME="KeyWords"
          CONTENT="brasil, minas gerais, belo horizonte, bairro serrano, lona, vinil, tinta, solvente, envelopamento, veículos, frota, adesivo, placas, comunicação visual, vinil de recorte, faca, ploter, criação de identidade visual, impressão em grandes formatos, scitex, roland, compact, recort">
    <link href="http://www.everestsigns.com.br/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta NAME="Generator" CONTENT="Microsoft Front Page">
    <meta http-equiv="content-language" content="pt-br"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta name="rating" content="general"/>
    <meta name="robots" content="index,follow"/>
    <meta name="url" content="http://www.everestsigns.com.br"/>
    <meta name="domain" content="http://www.everestsigns.com.br"/>
    <meta name="title" content="Everest Signs - Soluções em Comunicação Visual - Gráfica e Serralheria"/>
    <meta name="copyright" content="Everest Signs - Soluções em Comunicação"/>
    <meta name="abstract"
          content="brasil, minas gerais, belo horizonte, bairro serrano, Temas ligados a comunicação visual, confecção de placas, adesivos de vinil, lonas impressas em tinta a base de solvente, tinta automotiva para letras em alumínio e aço, revitalização de fachadas com alumínio composto ACM, envelopamento de veículos, impressão em grandes formatos,lona, vinil, tinta, solvente, envelopamento, veículos, frota, adesivo, placas, comunicação visual, vinil de recorte, faca, ploter, criação de identidade visual, impressão em grandes formatos, scitex, roland, compact, recort"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

<!--   Menu   -->
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<!--   Banner1   -->
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Veja nosso portfolio</h1>
            <div class="row center">
                <h5 class="header col s12 light">Trabalhamos agregando valor a seu negocio</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="public/images/background/background1.jpg" alt="Unsplashed background img 1">
    </div>
</div>

<!--   Container   -->
<div class="container">
    <div class="section">
        <div class="row">

            <!--   Card 01   -->
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="public/images/imagePortfolio/comunicacaoInterna.gif">
                        <span class="card-title">Comunicação Interna</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="comunicacaoInterna">Saiba mais!</a>
                    </div>
                </div>
            </div>

            <!--   Card 02   -->
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="public/images/imagePortfolio/envelopamentoDeFrotas.gif">
                        <span class="card-title">Envelopamento de Frotas</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Saiba mais!</a>
                    </div>
                </div>
            </div>

            <!--   Card 03   -->
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="public/images/imagePortfolio/placas.gif">
                        <span class="card-title">Placas</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Saiba mais!</a>
                    </div>
                </div>
            </div>

            <!--   Card 04   -->
            <div class="col s12 m4">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="public/images/imagePortfolio/letraCaixa.gif">
                        <span class="card-title">Letra Caixa</span>

                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Saiba mais!</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--   Card 05   -->
            <div class="col s12 m4">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="public/images/imagePortfolio/fachada.gif">
                        <span class="card-title">Fachada</span>

                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Saiba mais!</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--   Card 06   -->
            <div class="col s12 m4">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="public/images/imagePortfolio/comunicacaoExterna.gif">
                        <span class="card-title">Comunicação Externa</span>

                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Saiba mais!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--   Footer   -->
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>

<!--  Scripts   -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="public/js/materialize.js"></script>
<script src="public/js/init.js"></script>

</body>
</html>
