<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <title>Everest Signs - Soluções em Comunicação</title>
    <meta NAME="Author" CONTENT="Everest Signs - Soluções em Comunicação">
    <meta NAME="Description"
          CONTENT="Temas ligados a comunicação visual, confecção de placas, adesivos de vinil, lonas impressas em tinta a base de solvente, tinta automotiva para letras em alumínio e aço, revitalização de fachadas com alumínio composto ACM, envelopamento de veículos, impressão em grandes formatos">
    <meta NAME="KeyWords"
          CONTENT="brasil, minas gerais, belo horizonte, bairro serrano, lona, vinil, tinta, solvente, envelopamento, veículos, frota, adesivo, placas, comunicação visual, vinil de recorte, faca, ploter, criação de identidade visual, impressão em grandes formatos, scitex, roland, compact, recort">
    <link href="http://www.everestsigns.com.br/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta NAME="Generator" CONTENT="Microsoft Front Page">
    <meta http-equiv="content-language" content="pt-br"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta name="rating" content="general"/>
    <meta name="robots" content="index,follow"/>
    <meta name="url" content="http://www.everestsigns.com.br"/>
    <meta name="domain" content="http://www.everestsigns.com.br"/>
    <meta name="title" content="Everest Signs - Soluções em Comunicação Visual - Gráfica e Serralheria"/>
    <meta name="copyright" content="Everest Signs - Soluções em Comunicação"/>
    <meta name="abstract"
          content="brasil, minas gerais, belo horizonte, bairro serrano, Temas ligados a comunicação visual, confecção de placas, adesivos de vinil, lonas impressas em tinta a base de solvente, tinta automotiva para letras em alumínio e aço, revitalização de fachadas com alumínio composto ACM, envelopamento de veículos, impressão em grandes formatos,lona, vinil, tinta, solvente, envelopamento, veículos, frota, adesivo, placas, comunicação visual, vinil de recorte, faca, ploter, criação de identidade visual, impressão em grandes formatos, scitex, roland, compact, recort"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
<a class="btn-floating btn-large waves-effect waves-light head topo" href="#"><i class="material-icons">keyboard_arrow_up</i></a>

<!--   Menu   -->
<nav class="head" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
            <img src="images/logo.gif" alt="Logo">
        </a>

        <ul class="right hide-on-med-and-down">
            <li><a class="white-text" href="#">Home</a></li>
            <li><a class="white-text" href="#empresa">A Empresa</a></li>
            <li><a class="white-text" href="#diretrizes">Nossas Diretrizes</a></li>
            <li><a class="white-text" href="#">Portfolio</a></li>
            <li><a class="white-text" href="http://www.kombo.com.br/curriculo/?cid=MjY4MC0w">Trabalhe Conosco</a></li>
            <li><a class="white-text" href="#contato">Fale Conosco</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">

            <nav class="head" role="navigation">
                <span class="blueE-text" style="font-size:20px; margin-left: 10px;">MENU</span>
            </nav>
            <li><a href="#">Home</a></li>
            <li><a href="#empresa">A Empresa</a></li>
            <li><a href="#diretrizes">Nossas Diretrizes</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="http://www.kombo.com.br/curriculo/?cid=MjY4MC0w">Trabalhe Conosco</a></li>
            <li><a href="#contato">Fale Conosco</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<!--   Banner1   -->
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h3 class="header col s12 light shadow">Portfólio</h3>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/background/Home/background1.jpg" alt="MRV"></div>
</div>

<!--   Container   -->
<div class="container">
    <div class="section">
        <div class="row">

            <!--   Card 01   -->
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="images/imagePortfolio/ComunicacaoInterna/comunicacaoInterna.gif">
                        <span class="card-title shadow">Comunicação Interna</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="comunicacaoInterna">Saiba mais!</a>
                    </div>
                </div>
            </div>

            <!--   Card 02   -->
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="images/imagePortfolio/Envelopamento/envelopamentoDeFrotas.gif">
                        <span class="card-title shadow">Envelopamento</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Saiba mais!</a>
                    </div>
                </div>
            </div>

            <!--   Card 03   -->
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="images/imagePortfolio/Placas/placa.gif">
                        <span class="card-title shadow">Placas</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Saiba mais!</a>
                    </div>
                </div>
            </div>

            <!--   Card 04   -->
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="images/imagePortfolio/LetraCaixa/letraCaixa.gif">
                        <span class="card-title shadow">Letra Caixa</span>

                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Saiba mais!</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--   Card 05   -->
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="images/imagePortfolio/Fachada/fachada.gif">
                        <span class="card-title shadow">Fachada</span>

                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Saiba mais!</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--   Card 06   -->
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="images/imagePortfolio/ComunicacaoExterna/comunicacaoExterna.gif">
                        <span class="card-title shadow">Comunicação Externa</span>

                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Saiba mais!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--   Footer   -->
<footer class="page-footer blueE" id="contato">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">Nosso Endereço</h5>
                <p class="grey-text text-lighten-4">Rua São Bernardo, 100 - Serrano | Belo Horizonte | MG | CEP:
                    30881-4</p>


            </div>
            <div class="col l5 s12">
                <h5 class="white-text">Como Chegar</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3751.802591203745!2d-44.01394468551712!3d-19.890555986625852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa696ada17339bd%3A0xf2e82c62ee00a0e8!2sEverest+Signs+Solu%C3%A7%C3%B5es+em+Comunica%C3%A7%C3%A3o+Visual!5e0!3m2!1spt-BR!2sbr!4v1477955702713"
                        width="280" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Contatos</h5>
                <ul>
                    <li>
                        <strong class="white-text">DIREÇÃO - Junior</strong>
                        <a href="mailto:junior@everestsigns.com.br" class="white-text">junior@everestsigns.com.br</a>
                    </li>
                    <br>
                    <li>
                        <strong class="white-text">FINANCEIRO - Jane</strong><br>
                        <a href="mailto:financeiro@everestsigns.com.br" class="white-text">financeiro@everestsigns.com.br</a>
                    </li>
                    <br>
                    <li>
                        <strong class="white-text">COMPRAS</strong><br>
                        <a href="mailto:compras@everestsigns.com.br" class="white-text">compras@everestsigns.com.br</a>
                    </li>
                    <br>
                    <li>
                        <strong class="white-text">VENDAS - Dennis</strong>
                        <a href="mailto:vendas@everestsigns.com.br" class="white-text">vendas@everestsigns.com.br</a>
                    </li>
                    <br>
                    <li>
                        <strong style="font-size:18px;" class="white-text">tel: 3465-2800</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="#">Nosso Nome</a>
        </div>
    </div>
</footer>

<!--  Scripts   -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
