/* MEU CSS */

.head {
    background-color: #F9C636;
}

.shadow {
    text-shadow: black 0.1em 0.1em 0.2em
}

.topo {
    position: fixed;
    bottom: 5px;
    right: 5px;
    margin-bottom: 8px;
    margin-right: 6px;
}

.img-responsive {
    width: 100%;
    height: 400px;
    background-size: cover;
}

nav ul a:hover {
    background-color: #0b82b9;
}

nav ul a, nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.blueE {
    background-color: #2072AB !important;
}

.blueE-text {
    color: #2072AB !important;
}

.blueE.lighten-5 {
    background-color: #42A5F5 !important;
}

.blueE-text.text-lighten-5 {
    color: #42A5F5 !important;
}

.blueE.lighten-4 {
    background-color: #64B5F6 !important;
}

.blueE-text.text-lighten-4 {
    color: #64B5F6 !important;
}

.blueE.lighten-3 {
    background-color: #90CAF9 !important;
}

.blueE-text.text-lighten-3 {
    color: #90CAF9 !important;
}

.blueE.lighten-2 {
    background-color: #BBDEFB !important;
}

.blueE-text.text-lighten-2 {
    color: #BBDEFB !important;
}

.blueE.lighten-1 {
    background-color: #E3F2FD !important;
}

.blueE-text.text-lighten-1 {
    color: #E3F2FD !important;
}

.blueE.darken-1 {
    background-color: #1E88E5 !important;
}

.blueE-text.text-darken-1 {
    color: #1E88E5 !important;
}

.blueE.darken-2 {
    background-color: #1976D2 !important;
}

.blueE-text.text-darken-2 {
    color: #1976D2 !important;
}

.blueE.darken-3 {
    background-color: #1565C0 !important;
}

.blueE-text.text-darken-3 {
    color: #1565C0 !important;
}

.blueE.darken-4 {
    background-color: #0D47A1 !important;
}

.blueE-text.text-darken-4 {
    color: #0D47A1 !important;
}

.blueE.accent-1 {
    background-color: #82B1FF !important;
}

.blueE-text.text-accent-1 {
    color: #82B1FF !important;
}

.blueE.accent-2 {
    background-color: #448AFF !important;
}

.blueE-text.text-accent-2 {
    color: #448AFF !important;
}

.blueE.accent-3 {
    background-color: #2979FF !important;
}

.blueE-text.text-accent-3 {
    color: #2979FF !important;
}

.blueE.accent-4 {
    background-color: #2962FF !important;
}

.blueE-text.text-accent-4 {
    color: #2962FF !important;
}

.m-b {
    margin-bottom: 50px;
}

/* jQuery lightBox plugin - Gallery style */
#gallery {
    margin-left: -38px;
    text-decoration: none;
}

#gallery ul {
    list-style: none;
}

#gallery ul li {
    display: inline;
}

#gallery ul img {
    border: 5px solid #2072ab;
    border-width: 5px
}

#gallery ul a:hover img {
    border: 5px solid #055185;
    border-width: 5px;
    color: #fff;
}

#gallery ul a:hover {
    color: #fff;
}